.App {
  text-align: center;
}

.activity {
  position: fixed;
  top: 52%;
  left: 15%;
  margin: 0.5%;
  width: 84%;
  background-color: white;
  height: 46%;
}

nav {
  height: 100%;
}
.nav {
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
}

.navbar {
  width: 15%;
  height: 100%;
  background-color: #0087ff;
  border-right: 1px solid #3668ff;
}

.nav-details {
  height: 25vh;
  border-bottom: 1px solid #3668ff;
}

.nav-items {
  height: 75vh;
}

.nav-list {
  height: 100%;
  list-style: none;
}

.wk-nbr {
  font-size: 40px;
  color: white;
  padding-top: 3vh;
}

.list-item {
  height: 12.3%;
  border-bottom: 1px solid #3668ff;
}

.list-item a {
  display: block;
  width: 100%;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.user {
  padding-top: 5vh;
  font-size: 30px;
  font-weight: bold;
}

.log-item {
  height: 60px;
  width: 99.4%;
  margin-left: 0.3%;
  margin-right: 0.3%;
}

.subject-id {
  height: 100%;
  width: 5px;
  background-color: blue;
}


