.App {
  text-align: center;
}
nav {
  height: 100%;
}
.nav {
  height: 100vh;
  position: relative;
  top: 0px;
  left: 0px;
}

.navbar {
  width: 15%;
  height: 100%;
  background-color: #0087ff;
}

.nav-details {
  height: 25vh;
}

.nav-items {
  height: 75vh;
}

.nav-list {
  height: 100%;
  list-style: none;
}

.wk-nbr {
  font-size: 40px;
  color: white;
  padding-top: 3vh;
}

.list-item {
  height: 12%;
}

.list-item a{
  display: block;
  width: 100%;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}
